# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
.ipynb_checkpoints

# React
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


/data/*
!/data/brand_new.csv
token.txt
.token
**/token.*
**/tokens.*
**/*_token.*
**/*.token
secrets.py
**/secrets.*
.secrets
**/auth.*
**/config.*
**/*.key

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Logs
logs/
*.log
